# The source for Rosie is obtained and updated when 'python setup.py sdist' is run.
# We should not check in the entire source tree, since it's already on github.
rosie/rosie-pattern-language

*~
*.pyc
rosie/*.pyc
rosie/librosie.*
rosie/rosie_cli
dist
build
rosie.egg-info

# This entry is a copy of rosie-pattern-language/src/librosie/python/rosie.py
rosie/rosie.py

